body {
  font: 10px sans-serif;
}

p {
  font: 12px helvetica;
}

.chart { 
  background: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis {
  font-family: 'Quicksand', sans-serif;
}

.widget {
  margin-left: 25px;
  margin-top: 15px;
  float: left;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

#load-thoughts {
  margin: 15px;
}

.stream-tooltip {
  font-family: 'Quicksand', sans-serif;
  color: #777;
  font-size: 14px;
}

.bubble-stream {
  width: 665px;
  margin: 0 auto;
  padding: 0px 5px;
}

.bubble-stream .rate-widget-fivestar ul {
    padding-left: 0px;
}

.bubble-stream .rate-widget-2 ul li{
    margin-right: 10px;
}

.bubble-stream .rate-widget-2 ul {
    margin-bottom: 0;
    list-style: none;
}

.bubble-stream .views-field-title a {
  color: #222;
}